# Núcleo
streamlit==1.32.2
pandas==2.2.1
numpy==1.26.4

# Visualização
plotly==5.19.0

# Mapas
folium==0.15.1
streamlit-folium==0.15.0
branca==0.7.0

# Geoprocessamento
geopandas==0.14.3
pyogrio==0.6.1
pyproj==3.6.1
shapely==2.0.3

# Excel
openpyxl==3.1.2

# Utilidades
unicodedata2==15.1.0

# Compatibilidade Streamlit Cloud
protobuf==4.25.1
